page-invoice-details {
    ion-title{
    	text-align: center;
    }
	.record-details{
		border-bottom:1px solid #ccc;
	}
	.lable-big{
		color:#444445;
		font-weight:bold;
		text-align:left;
	}
	.last-row{
		border-bottom:none !important;
	}
	.last-row-total{
		border-bottom:none !important;
	}
	.data-cart{
         border-radius:8px;
	}
	.last-row .lable-big {
		margin-top: 12px;
	}
	.center{
     	text-align:center;
	}
}
