page-item-list {
    .page-background{
        background-color:#fff;
      }
    
      p{
        margin:0;
      }
    
      .welcome-header{
        position: relative;
        background: linear-gradient(135deg, rgb(185, 236, 236), rgb(5, 185, 240));
        width:100%;
        padding: 10px 0;
        margin-bottom: 20px;
    
        .refresh {
          position: absolute;
          right: 10px;
          background-color: #3b8ca0;
          box-shadow: 0px 0px 5px #0eebd8;
        }
    
        .content {
          text-align: center;
          padding: 20px;
          color:white;
    
          img {
            width: 100px;
            margin-bottom: 10px;
          }
    
          .title {
            font-size:20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
    
          .subtitle {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
          }
        }
      }
    
      .body {
        .Items {
          .item {
            background: linear-gradient(45deg, #c8d1d1, #cfdad8);
            padding: 10px;
            border-radius: 10px;
            margin: 10px auto;
    
            .image {
              text-align: left;
    
              img {
                width: 50px;
                margin: 0;
                display: block;
              }
            }
    
            .text {
              .name {
                color: rgba(51, 52, 53, 0.733);
                font-size: 15px;
                font-weight: 700;
              }
    
              .rank {
                color: #121213;
                font-size: 15px;
                font-weight: 500;
              }
    
              .itemName{
                color:rgb(90, 97, 94);
    
                // .red{
                //   color: #F44447;
                // }
                font-size: 16px;
                font-weight: 500;
              }
            }
    
            .indicator {
              position: absolute;
              top: 50%;
              margin-top: -7px;
              right: 0;
              color: rgba(236, 236, 236, 0.3);
            }
          }
        }
      }
}
