page-order-details {

    .accordion-list {
        background: white;
        height: 100%;
      }
      .section {
        background: white;
        color: color($colors, primaryDark) ;
        margin-bottom: 4px;
      }
      .section-active {
        background:color($colors, primary); ;
        color: white;
        width: 100%;
        text-align: left;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: 10px;
        margin-right: 10px;
        height: 30%;
      }
}
