page-order-details {

  .order-list {
    background-color: rgb(113, 184, 243);
    color: rgb(255, 255, 255);
    font-weight: bold;
    width:100%;
}
.item-md h3{
  font-weight: bold;
  text-align: left;
}
.item-md h2{
  text-align: right;
  margin-top: -5px;
}
ion-title{
  text-align: center;
}
.card-content{
  color: #444445;
font-size: 13px;
font-weight: bold;
}
.last-row-total{
  border-bottom:none !important;
}
.lable-big{
  color:#444445;
  font-weight:bold;
  text-align:left;
}
}
